/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* common */
body {
  font-family: 'Monserrat',sans-serif;
}

.hidden {
  display: none !important;
}

.text-color--primary {
  color: #36006C;
}

.app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.app-button--primary {
  background-color: #36006C;
  color: #FFFFFF;
}

/* popup */
.popup__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.72);
}

.popup__container {
  position: relative;
  width: 879px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 40px #0000001A;
  z-index: 1;
}

.popup__header {
  padding-top: 81px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.popup__close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

.popup__content {
  margin-top: 88px;
}

.popup__items {
  display: flex;
  justify-content: space-around;
}

.popup__item-image-wrapper {
  min-height: 161px;
}

.popup__item-caption {
  margin: 52px auto 68px;
  text-align: center;
}

.popup__result-message {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.popup__ok-button {
  margin: 15px auto 60px;
  width: 352px;
  height: 73px;
  font-size: 32px;
}

/* game */
.game__main-header {
  margin: 0 auto 43px;
  padding-top: 128px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.game__description {
  font-family: 'Roboto',sans-serif;
  font-size: 21px;
  line-height: 32px;
  opacity: 0.54;
}

.game__sub-header {
  margin: 35px auto 41px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.game__options {
  display: flex;
  justify-content: space-between;
}

.game__item {
  width: 240px;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.game__item:hover {
  background-color: #F8F8F8;
}

.game__item-caption {
  font-size: 24px;
  margin: 26px auto 33px;
}

/* TODO: do better on mobile */
@media only screen and (min-width: 768px) {
  .game__container {
    width: 740px;
    margin: 0 auto;
  }
}

